<h2>添加到主屏幕教程</h2>
<p>本工具箱以移动设备优先，添加到主屏幕后可以获得原生App体验：</p>
<p>首次加载后，后续使用加载飞快，可以离线使用，自动更新。</p>

<h4>iOS 11及以上</h4>
<p>1. 使用Safari浏览器打开本站任意页面；</p>
<img src="../../assets/img/help/add-to-homescreen-04.jpg" />
<p>2. 点击底部分享按钮；</p>
<img src="../../assets/img/help/add-to-homescreen-01.jpg" />
<p>3. 选择“添加到主屏幕”；</p>
<img src="../../assets/img/help/add-to-homescreen-02.jpg" />
<p>4. 若图标未加载出来，请稍等或者稍后重试；</p>
<img src="../../assets/img/help/add-to-homescreen-03.jpg" />
<p>5. 现在可以在主屏幕使用，无需安装。</p>

<h4>Android (待补充)</h4>