<h2>明日方舟工具箱 by 一只灰猫</h2>
<p>欢迎使用明日方舟工具箱，请在导航栏选择相应功能使用。</p>
&nbsp;
<p>Tip: 移动端和平板用户可以将任意页面添加到桌面，获得与本地App相同的使用体验：快速加载，离线使用，自动更新。</p>
<p>详情请点击右上角“<strong>+</strong>”查看。</p>

<div fxLayout="row">
    <div>
        <h3>已实现功能</h3>
        <ul>
            <li>公开招募</li>
            <li>升级消耗</li>
            <li>精英材料</li>
            <li>干员材料多合一计算：精英化，通用技能，专精技能</li>
        </ul>
    </div>
    <div>
        <h3>实现中功能</h3>
        <ul>
            <li>干员技能、属性表</li>
            <li>干员基建技能总览</li>
        </ul>
    </div>
</div>
<h3>贡献者</h3>
<div class="contributors" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="contributor" fxLayout="column" fxLayoutAlign="center center">
        <a href="https://github.com/graueneko/"><img src="../../assets/img/contributor/graueneko.png" /></a>
        <a href="https://github.com/graueneko/">一只灰猫</a>
    </div>
    <div class="contributor" fxLayout="column" fxLayoutAlign="center center">
        <a href="https://github.com/Evealicemier"><img src="../../assets/img/contributor/crystal.jpg" /></a>
        <a href="https://github.com/Evealicemier">水晶泡芙</a>
    </div>
</div>

<h4>建议/需求/加入我们</h4>
<a href="https://github.com/graueneko/aktools">
    <img class="img-logos" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" />
</a>

<h4>友情链接</h4>
<p>欢迎访问 <a href="https://bbs.nga.cn/thread.php?fid=-34587507">NGA明日方舟-罗德岛驻艾泽拉斯大使馆</a></p>