/* You can add global styles to this file, and also import other style files */
@import "./app/styles/custom.scss";

// import theming for all mdc components:
@import "material-components-web/material-components-web";

body{
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", SimHei, "WenQuanYi Zen Hei", "ST Heiti", "WenQuanYi Zen Hei Sharp", sans-serif;
    margin: 0px;
}

.mdc-button {
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", SimHei, "WenQuanYi Zen Hei", "ST Heiti", "WenQuanYi Zen Hei Sharp", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}